RewriteEngine on
RewriteCond $1 !^(index\.php|assets|apis|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L,QSA]

<IfModule mod_env.c>
    SetEnv CI_ENV development
</IfModule>

#RewriteEngine on
#RewriteBase /a3gate_staging/
#RewriteCond $1 !^(index\.php|assets|robots\.txt)
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php/$1 [L]
#RewriteRule ^(.*)$ a3gate_staging/index.php?/$1 [L,QSA]
#RewriteRule .* index.php/$1 [PT,L]
